.main {
     padding: 40px;
}

.main h1 {
     margin-bottom: 20px;
}

.friend-div {
     padding: 20px;
     display: flex;
     align-items: start;
     gap: 20px;
     border: 1px solid;
     width: max-content;
     border-radius: 10px;
}

.friend-div img {
     width: 60px;
     border-radius: 50%;
}

.friend-div h3 {
     text-transform: capitalize;

}

.friend-div button {
     background: var(--main-color);
     border: 1px solid;
     color: white;
     padding: 10px 20px;
     border-radius: 10px;
}

.friend-div button:hover {
     background: white;
     border: 1px solid var(--main-color);
     cursor: pointer;
     color: var(--main-color);
}